@charset "UTF-8";

body{
	background-color: #D8D8D8;
    background-size: 100%;
}

.mainDiv{
	background-color: white;
    position: absolute;
    width: 30%;
    height: 70%;
    top: 15%;
    left: 35%;
    font-size: 25px;
    text-align: center;
}

input[type="password"]{
	width: 210px;
    height: 35px;
    padding-left: 1%;
    margin-top: 7px;
    margin-bottom: 10px;
}

.textDiv{
	margin-top: 30%;
}

#changBtn{
	height: 60px;
    width: 37%;
	background: #2E2E2E;
	color: white;
	border: none;
	font-size: 20px;
	cursor: pointer;
}
