@charset "UTF-8";
body{
	background-color: #D8D8D8;
}

#join-page{
	margin: 1% 35%;
}

#joinBtn{
	height: 55px;
    letter-spacing: 2px;
    font-size: 20px;
}
span{
	margin-left: 9%;
	color:red;
	font-size: 16px;
}
.error{
	margin-top: 40px;
}

.error active{
	margin-top: 70px;
}

label.error, .error active{
	color:red;
	font-size: 17px;
	margin-top: 40px;
}

#emailAuthBtn{
	float: right;
    width: 105px;
    height: 30px;
    background-color: #fff;
}